<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestInt" value="1" />
    <add key="TestDouble" value="5.0" />
    <add key="TestString" value="Test" />
    <add key="FalseString" value="false" />
    <add key="TrueString" value="true" />
    <add key="TestDateStringddmmyyyy" value="15/12/1990" />
    <add key="TestDateStringddmmyyyyhhmm" value="15/12/1990 13:45" />
  </appSettings>
</configuration>